@define-color foreground #d5c4a1;
@define-color foreground-inactive #aaaaaa;
@define-color background #32302f;

* {
    font-family: FiraCode Nerd Font;
    font-size: 15px;
    padding: 0;
    margin: 0;
}
#clock {
  font-size: 13.5px;
}
#waybar {
    color: #b5b1a8;
    background-color: black;
    opacity: 0.75
}
window#waybar {
      background: rgba(17, 17, 27, 0.7); /* Semi-transparent */
}

#workspaces button {
    color: #b5b1a8;
    padding-left: 0.7em;
}

#workspaces button.empty {
    color: #b5b1a8;
}

#clock,
#memory,
#temperature,
#custom-platform-profile,
#custom-power,
#pulseaudio,
#battery,
#idle_inhibitor,
#network,
#bluetooth,
#custom-expand-icon,
#tray {
    padding-right: 1em;
}
#custom-power {
    padding-right: 0.7em;
}
